<form [formGroup]="usuarioForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Formulario de Ingreso</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Ingrese usuario" formControlName="usuario">
            <mat-error *ngIf="usuarioForm.controls['usuario'].hasError('required')">
              Usuario es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Ingrese password" type="password" formControlName="password">
            <mat-error *ngIf="usuarioForm.controls['password'].hasError('required')">
              Password es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="usuarioForm?.invalid" type="submit">Enviar</button>
    </mat-card-actions>

  </mat-card>

</form>
